$primary-color: #990085;
$secondary-color: #700062;
$third-color: #47003E;
$background-color: #FEF7F9;
$text-color: #696969;
$border-color: #EDD0E8;
$star-color: #FFA825;

$white-color: #ffffff;
$black-color: #000000;

$button-linear-gradient: linear-gradient(225deg, #13E1A0 0%, #13E14A 100%);
$box-linear-gradient: linear-gradient(180deg, #C213AB 0%, #990085 100%);

$container-padding: rem(8px);
